@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Zen+Loop:ital@0;1&display=swap');

.our-team{
	text-align: center;
	margin-bottom: 20px;
}
.our-team .container--flex{
	align-items: flex-start;
}
.our-team__title{
	font-family: 'Zen loop',cursive;
	color: rgb(80, 10, 76);
	font-size: 2.5em;
	margin-bottom: 10px;
	font-weight: bold;
}
.our-team__img{
	width: 180px;
	height: 180px;
	object-fit: cover;
	border-radius: 50%;
	margin: auto;
}
.our-team__txt{
	padding: 10px;
	text-align:justify;
	font-weight: bold;
}

.form{
	display: flex;
	text-align: center;
	padding: 10x 30px;
}
@media screen and (min-width:480px){
	.our-team__img{
		width: 200px;
		height: 200px;
	}
}
@media screen and (min-width:1024px){
	.our-team__img{
		width: 300px;
		height: 300px;
	}
	.our-team__title{
		font-size: 2.1;
	}
}





