@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Zen+Loop:ital@0;1&display=swap');

*{
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: 0.2s linear;
}
body{
    font-family: "Advent Pro", sans-serif;
    margin: 0;
	background-color: rgb(243, 223, 239);
    background-image: url(/imagenes/background.png); 
    background-size: 50px;
    background-blend-mode: overlay;
}
/*----------------Estilos Base------------------*/
img{
    display: block;
    width: 100%;
    max-width: 100%;
}
h1,h2,h3,h4,h5{
    margin: 0;
}
.container{
    width: 100%;
    margin: auto;
	
}
.container2{
    width: 100%;
    margin: auto;
	
}
.container--flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
	
}
.container2--flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
	padding: auto;
	
}
.column{
    width: 100%;
	
}

/*----------------Estilos Header------------------*/


.main-header{
    width: 100%;
}
.logo{
	background-color: aliceblue;
	border-radius: 100px;
	max-height: 70px;
	max-width: 70px;
	margin-top: 0px;
	
}
.logo2:hover{ 
	background-color: rgba(238, 211, 240, 0.85);
}
.logo1{
	display: flex;
	
}
.main-header__contactInfo__phone{
    background:rgb(80, 10, 76);
    color: #fff;
    padding: 10px;
    margin: 0;
	
}

.main-header__contactInfo__addres{
    padding: 10px;
    margin: 0px;
}
.main-header [class*="icon-"]:before{
    position: relative;
    top:2px;
    right: 3px;
}
/*----------------Estilos Menu------------------*/
.main_nav{
    width: 100%;
    position:relative;
    z-index: 2000;  
    padding: 10px;
}

.icon-menu{
    display: block;
    color: rgb(80, 10, 76);
    border: 1px solid rgb(80, 10, 76);
    border-radius: 3px;
    width: 40px;
    height: 40px;
    line-height: 45px;
    text-align: center;
    cursor:pointer;
    font-size: 1.5em;
}
.icon-menu:hover{
    background-color: rgba(119, 84, 121, 0.85);
}

.social-icon{
    display: flex;
    justify-content: space-between;
    
}

.social-icon [class*="icon-"]{
    color: rgb(80, 10, 76);
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 50%;
}

.social-icon__link{
    text-decoration: none;  
}
.menu{
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    padding:0px;
    margin:0px;
    z-index: 2000px;
    list-style: none;
    text-align: center;
    font-size: 18px;
    height: 0;
    overflow: hidden;
	transition: height .3s linear;
	background-color: rgba(119, 84, 121, 0.85); 
}
.menu__link{
    display: block;
    padding: 15px;
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.menu__link:hover{
    background-color: rgb(80, 10, 76);
}
.menu__link--select{
    background-color: rgb(80, 10, 76);
    
}
.mostrar{
    height: 210px;
}
.nav{
	display: flex;
	justify-content: space-between;
	max-width: 1700px;
	margin-left: 50px;
}
/*----------------Estilos Banner------------------*/

.banner{
    margin-top:-52px;
    position: relative;
}
.banner:before {
    content: '';
    width: 100%;
	position: absolute;
    height: 100%;
    background: rgba(2, 0, 0, 0.7);
    z-index: 1000;
    top: 0;
	width: 100%;
	height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	object-fit: cover;
}
.banner__img{
    width: 100%;
    height: 400px;
    object-fit: cover;
	display: flex;
	justify-content: center;
	text-align: center;
	
}
.banner__content {
    width: 70%;
    color: white;
    text-align:center;
    position: absolute;
	z-index: 1500;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.5em;
    font-weight:bold;
	font-family: 'Zen Loop', cursive;
    text-shadow: 5px 2px #410649;
	padding-top: 80px;
}
#apartado1{
	width: 100%;
	height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	object-fit: cover;
}
.ap1:hover{
	font-size: 55px;
	text-size-adjust: 20px;
	transition: all 500ms;
	padding: 0px 0px;
}
.seccion-con-imagen{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}
/*----------------Estilos Principales------------------*/
.group--color .container{
	background-color: rgb(80, 10, 76);
	padding: 10px;
	text-align: center;
	color: white;
	font-style: italic;
}
.main__title{
	margin: 15px 0;
	font-size: 2.8em;
	font-family: 'Zen Loop', cursive;
	font-style: italic;
	
}
.column__title{
	font-size: 1.3em;
	
}
.main__about_description .column:nth-child(2){
	padding: 10px;
	
}
.btn{
	
	display: block;
	text-align: center;
	text-decoration: none;
	width: 120px;
	background: rgb(80, 10, 76);
	color: #fff;
	padding:10px;
	margin: 10px auto;
	
	
}
.group__title{
	font-family: 'Zen Loop', cursive;
	text-align: center;
	font-weight: bold;
	font-size: 2em;
	margin: 30px;
	text-shadow: #410649;
	
}

.today-special .column {
	margin-bottom: 30px;
	text-align: center;
	
	
}

.today-special__img{
	margin: auto;
	max-width: 2000px;
	border: 0px solid rgb(80, 10, 76);
	border-radius: 3%;
	
}

.today-special__tittle{
	
	font-size: 1.3em;
	padding-top: 10px;
	padding-bottom: 20px;
}
.today-special__price{
	font-size: 1.5em;
	color: rgb(80, 10, 76);
	font-weight: bold;
}

/*----------------Estilos Principales------------------*/
.main-footer{
	background: rgba(119, 84, 121, 0.85);
	color: #fff;
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: .8em;
}
.copy{
	text-align: center;
	margin: auto;
	margin-top: 15px;
	
}

.main-footer [class*="icon-"] {
	color: #fff;
	text-decoration: none;
	
	
}
.main-footer [class*="icon-"]:before{
	position: relative;
	top: 3px;
	right: 5px;
}

/*----------------Galeria----------------------*/

.container2{
    padding: 2rem 5%;
}

.container2 .image-container{
    columns: 15rem 3;
    gap: 1.4rem;
}

.container2 .image-container img{
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 0.7rem;
}

.container2 .image-container img:hover{
    transform: scale(1.01);
}
/*----------------Estilos Responsivos------------------*/

@media screen and (min-width:480px){
	.logo{
		color: #fff;
		
	}
	.main-header__contactInfo{
		text-align:right;
	}
	.banner{
		margin-top: -145px;
		z-index: -1000;
	}
	.main-header__contactInfo__phone{
		background: none;
	}
	.main-header__contactInfo__addres{
		color: #fff;
	}
	.main_nav{
		background:rgba(119, 84, 121, 0.85);
	}
	.banner__content{
		font-size:2em;
	}
	.column--50{
		width: 49%;
	}
	.column--50--25{
		width: 49%;
	}
	.column--33{
		width: 32%;
	}
	.column__txt{
		text-align: justify;
	}
	.main__about_description .column:nth-child(2){
		padding-left: 20px;
		font-size: .9em;
		
	}
	.main__about_description .btn{
		margin: 0;
	}
	.today-special .column {
		border: 0px solid rgb(80, 10, 76);
		background-color: #eacaee;
		border-radius: 5%;
		padding: 5px;
	}
	.main-footer .container--flex{
		align-items: flex-start;
	}
	.today-special .column {
		border: 0px solid rgb(80, 10, 76);
		background-color: #eacaee;
		border-radius: 5%;
		padding: 5px;
	}
	.today-special__img{
		height: 200px;
		object-fit: cover;
		border: 0px solid rgb(80, 10, 76);
	}
}
@media screen and (min-width:1024px){
.container{
		width: 1000px
	}
	.logo{
		padding-top: 0px;
		font-size: 2em;
		
	}
		
	.main-header__contactInfo__phone,
	.main-header__contactInfo__addres{
		font-size: 1.18em;
		padding-right: 0px;
		
	}
	
	.main_nav{
    
    	padding: 0px;
	}
	
	.banner__content{
		font-size:2.5em;
	}
	
	.icon-menu{
		display: none;
	}
	
	.menu{
		position: static;
		display: flex;
		height: 60px;
		width: auto;
	}
	
	.menu__link{
   
    	padding: 18px;
      
	}
	.group--color .container{
		margin-top: 30px;
		margin-bottom: 30px;
		padding: 20px;
		
	
	}
	.main__title{
		font-size: 2.5em;
	}
	.main__about_description .column--50:nth-child(2) .column__txt
	{
		line-height: 30px;
		text-align: justify;
		font-size: 17px;
		font-weight: 500;
		
	}
	.group__title{
		font-size: 2.5em;
	}
	.column--50--25{
		width: 24.5%;
	}
	.today-special__tittle{
	
		font-size: 1.9em;
		
	}
	.today-special__price{
	font-size: 2.2em;
	
	}
}

@media screen and (min-width:480px) and (max-width: 1023px){
	.imagenes-row{
		width: auto;
		margin: 0px;
	}
	.tamaño-imagen{
		width: auto;
	}
}


















